<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="scrollbar.css" type="text/css" />
    <script src="angular.js"></script>
    <!--<script src="scroll.js"></script>-->
    <script src="scrollbarEx.js"></script>
</head>
<body>
    <div ng-app="myApp" ng-controller="myCtrl">
        <div id="testdiv" style="width:100%;height:500px;">
            <div style="width:90%;height:90%;">
                <scroll ng-width="60%" ng-height="100%" ng-layout="WPercentage|HPercentage" ng-arrow="HasArrow" ng-display="static">
                    <!--<scroll ng-width="500" ng-height="500">-->
                    <button ng-click="toggle()">control</button>
                    welcome : <input ng-model="name">
                    <div>my {{name}}</div>
                    <div style="width: 800px; height: 500px;background-color:blue;border-radius:100px;"></div>
                </scroll>
                11111111111111111<div>2222</div>
            </div>
        </div>
    </div>
    <div>ddddddd</div>
    <div id="othersrollbar" ng-controller="myCtrl">
        <div id="testdiv1" style="width:100%;height:500px;">
            <div style="width:90%;height:90%;">
                <scroll ng-width="60%" ng-height="100%" ng-layout="WPercentage|HPercentage" ng-arrow="HasArrow" ng-refresh="auto">
                    <!--<scroll ng-width="500" ng-height="500">-->
                    <button ng-click="toggle()">control</button>
                    welcome : <input ng-model="name">
                    <div>my {{name}}</div>
                    <div style="width: 800px; height: 500px;background-color:blue;border-radius:100px;"></div>
                </scroll>
                11111111111111111<div>2222</div>
            </div>
        </div>
    </div>
    <script>
        var app = angular.module('myApp', ['scrollbar']);
        app.controller('myCtrl', function ($scope, ChangeScrollBar) {
            $scope.name = " scroll bar";
            $scope.toggle = function () {
                ChangeScrollBar();
            };
        });
        var app1 = angular.module('myApp1', ['scrollbar']);
        app1.controller('myCtrl', function ($scope, ChangeScrollBar) {
            $scope.name = " scroll bar";
            $scope.toggle = function () {
                ChangeScrollBar();
            };
        });
        angular.bootstrap(document.getElementById("othersrollbar"), ['myApp1']);
        //angular.element().ready(function () {
        //    var el = document.getElementById("testdiv");
        //    angular.element(el).bind("click", function (e) {
        //        angular.element(el).css("height", "500px");
        //    })
        //});
    </script>
</body>
</html>
