<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title></title>
	<meta charset="utf-8" />
    <link rel="stylesheet" href="scrollbar.css" type="text/css" />
    <script src="angular.js"></script>
    <script src="scroll.js"></script>
</head>
<body>
    <div>ng-width set scroll bar width</div>
    <div> ng-height set scroll bar height</div>
    <div> ng-arrow set have arrow, "HasArrow" or "NoArrow"</div>
    <div> ng-display set scroll bar is fixed or static in the page, "static" or "fixed"</div>
    <div ng-app="myApp" ng-controller="myCtrl">
        <scroll ng-width="300px" ng-height="200px" ng-arrow="HasArrow" ng-display="static">
            welcome : <input ng-model="name">
           <div>my {{name}}</div>
        <div style="width: 800px; height: 500px;background-color:blue;border-radius:100px;"></div>
        </scroll>

    </div>
    <div>other scroll bar</div>
    <div>One page have two scroll bar</div>
    <div id="otherapp" ng-controller="myCtrl">
        <scroll ng-width="300px" ng-height="200px">
            welcome : <input ng-model="name">
            <div>my {{name}}</div>
            <div style="width: 800px; height: 500px;background-color:blue;border-radius:100px;"></div>
        </scroll>

    </div>
    <script>
        var app = angular.module('myApp', ['scrollbar']);
        app.controller('myCtrl', function ($scope) {
            $scope.name = " scroll bar";
        });
        var app = angular.module('myApp1', ['scrollbar']);
        app.controller('myCtrl', function ($scope) {
            $scope.name = " scroll bar";
        });
        angular.bootstrap(document.getElementById("otherapp"), ['myApp1']);
    </script>
</body>
</html>
