body {
    font-family: 'Segoe UI', sans-serif;
}

span {
    font-style: italic;
}
div.scrollbodyCSS{
    position:relative;
    top:0px;
    left:0px;
}
div.scrollboxCSS {
    overflow: hidden;
    width: 100%;
    height: 100%;
}
div.selfElementCSS{
    width:auto;
    height:100%;
    float:left;
}
div.scrollShellCSS{
    width:100%;
    height:100%;
    position:relative;
    display:inline-block;
}
div.scrollBarRightCSS{
    width:10px;    /*right scroll bar backgroud width*/
    position:absolute;
    top:0px;
    background-color:transparent; /*scroll bar backgroud color*/
}
div.scrollBarRightLineCSS{
    width:6px;  /*right scroll bar width*/
    border-radius:3px; /*right scroll bar radius*/
    height:1px;
    background-color:black; /*right scroll bar color*/
    margin-left:2px;      /*right scroll bar margin*/
    margin-right:2px;   /*right scroll bar margin*/
}
div.scrollBarRightLineCSS:hover{
    background-color:brown; /*bottom scroll bar hover color*/
}
div.scrollBarRightLineCSS:active {
    background-color:brown;/*bottom backgroud arrow hover color*/
}
div.scrollBarBottomCSS {
    height:10px;  /*bottom scroll bar backgroud width*/
    position: absolute;
    left: 0px;
    background-color:transparent;/*bottom scroll bar backgroud color*/
    font-size:0px;
    letter-spacing:-10px;
}
div.scrollBarBottomLineCSS{
    width:1px;
    border-radius:3px; /*bottom scroll bar radius*/
    height:6px; /*bottom scroll bar width*/
    background-color:black; /*bottom scroll bar color*/
    margin-bottom:2px; /*bottom scroll bar margin*/
    margin-top:2px; /*bottom scroll bar margin*/
    display:inline-block;
}
div.scrollBarBottomLineCSS:hover{
    background-color:brown; /*bottom scroll bar hover color*/
}
div.scrollBarBottomLineCSS:active {
    background-color:brown;/*bottom backgroud arrow hover color*/
}
div.sBBottomArrowBoxCSS {
    width: 0px;
    height: 100%;
    background-color:red;/*bottom backgroud arrow color*/
    overflow: hidden;
    display: inline-block;
}
div.scrollBarArrowArrowCSS{
    border-color:yellow;/*arrow color*/
    background-color:blue;/*arrow be clicked color*/
    width: 0;
    height: 0;
}
div.sBRightArrowBoxCSS {
    width: 100%;
    height: 0px;
    background-color:red;/*right backgroud arrow color*/
    overflow: hidden;
}
div.sBRightArrowBoxCSS:hover {
    background-color:blueviolet;/*right backgroud arrow hover color*/
}
div.sBBottomArrowBoxCSS:hover {

    background-color:blueviolet;/*bottom backgroud arrow hover color*/
}
.noselect{
    -moz-user-select: none;
}
.arrowUp {
    width:0; 
    height:0; 
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-bottom:10px solid #fff;
}
.arrowDown {
    width:0; 
    height:0; 
    border-left:10px solid transparent;
    border-right:10px solid transparent;
    border-top:10px solid #0066cc;
}
.arrowLeft {
    width:0; 
    height:0; 
    border-top:10px solid transparent;
    border-bottom:10px solid transparent; 
    border-right:10px solid yellow; 
}
.arrowRight {
    width:0; 
    height:0; 
    border-top:10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid green;
}